/* .alert{
    position: relative;
    margin-left: 80%;
    width: 200px;
} */

.alert-container {
    width: 250px;
    position: absolute;
    top: 60px;
    left: 80%;
    /* right: 0px; */
    z-index: 9999; /* Adjust the z-index value as needed */
  }
  